@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Special+Gothic+Condensed+One&display=swap');

@layer colors {
    :root {
        --c-blue: #006eff;
        --c-blue-light: #c3e1ff;
        --raisin-black: #1b1725ff;
        --oxford-blue: #01233dff;
        --lapis-lazuli: #035e7bff;
        --atomic-tangerine: #fa8c4cff;
        --french-gray: #c7cedbff;

        --black: #000505ff;
        --space-cadet: #3b3355ff;
        --ultra-violet: #5d5d81ff;
        --columbia-blue: #bfcde0ff;
        --white: #fefcfdff;
    }
}

@layer fonts {
    @font-face {

        /* Header - Barrio Regular */
        .barrio-regular {
            font-family: "Barrio", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-style: normal;
        }

        .special-gothic-condensed-one-regular {
            font-family: "Special Gothic Condensed One", sans-serif;
            font-weight: 400;
            font-style: normal;
        }

        .inter-regular {
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
        }

        .lexend-regular {
            font-family: "Lexend", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
        }
    }
}

@layer global {

    *,
    ::before,
    ::after {
        box-sizing: border-box;
    }

    body {
        background-color: var(--white);
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    h1,
    h2,
    h3 {
        margin: 0;
        line-height: 1.1;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Lexend', sans-serif;
        color: var(--raisin-black);
    }

    p {
        line-height: 1.3;
        font-family: 'Special Gothic Condensed One', sans-serif;
        word-spacing: 2px;
        color: var(--raisin-black);
    }

    header ul {
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;
        }
    }
}


@layer hook_and_projects_styles {
    body {
        height: 3000px;
        width: 100%;
        overflow-x: hidden;
    }

    p {
        color: var(--oxford-blue);
    }

    #nav-bar {
        height: 120px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
        border-bottom: 2px solid var(--raisin-black);
    }

    #nav-bar_logo {
        width: 80px;
        height: 80px;
        display: inherit;
        justify-self: flex-start;
        align-self: center;
        margin-left: 120px;
    }

    #contact_gmail_anchor {
        display: flex;
        justify-items: flex-end;
        align-self: center;
        width: 150px;
        height: 60px;
        background-color: var(--raisin-black);
        border: 1px solid var(--raisin-black);
        overflow: hidden;
        margin-right: 120px;
        border-radius: 45px;
    }

    #button_fill_contact {
        display: flex;
        justify-self: center;
        align-self: flex-start;
        text-align: center;
        width: 200px;
        height: 100px;
        padding: 0;
        background-color: var(--white);
        transition: 0.35s ease-in-out;
    }

    #contact_text {
        font-family: 'inter', sans-serif;
        font-size: 20px;
        color: var(--raisin-black);
        transition: 0.3s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60px;
        padding: 0;
        margin: 0;
        font-weight: 500;
        transition: 0.4s ease-in-out;
    }

    #contact_gmail_anchor:hover #button_fill_contact {
        height: 0;
    }

    #contact_gmail_anchor:hover #contact_text {
        color: var(--white);
    }

    #hook {
        height: 550px;
        width: calc(100% - 160px);
        margin-top: 240px;
        margin-left: 80px;
        margin-right: 80px;
        padding: 0;
        flex-direction: column;
        word-break: keep-all;
    }

    #home-title {
        font-size: 135px;
        display: flex;
        justify-self: flex-start;
        align-self: center;
        height: 300px;
        width: 70%;
        font-family: 'Lexendo', sans-serif;
        color: var(--raisin-black);
        text-align: left;
        margin: 0;
        word-wrap: normal;
        font-weight: 120;
        letter-spacing: -5px;
        line-height: 1;
    }

    #home-description {
        display: flex;
        justify-self: flex-start;
        align-self: flex-start;
        font-family: 'Lexendo', sans-serif;
        font-weight: 280;
        letter-spacing: 2px;
        font-size: 25px;
        height: 200px;
        width: 40%;
        color: var(--space-cadet);
        word-break: keep-all;
        padding-top: 40px;
    }

    #project-container {
        display: flex;
        justify-self: center;
        align-self: center;
        flex-direction: column;
        height: 2400px;
        width: 1200px;
        margin-top: 100px;
    }

    .project {
        border-top: 2px solid var(--raisin-black);
        display: flex;
        height: 840px;
        width: calc(100vw - 160px);
        margin-right: 80px;
        margin-left: 80px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .c-left {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        width: 55%;
        height: 850px;
        margin-bottom: 40px;
        margin-top: 40px;
    }

    .case-no {
        font-family: 'Inter', sans-serif;
        font-size: 15px;
        font-weight: 600;
        display: flex;
        justify-self: flex-start;
        align-self: flex-start;
        list-style-type: disc;
        padding: 0;
        margin-bottom: 220px;
        margin-left: 0;
        color: var(--space-cadet);
    }

    .case-title {
        font-size: 55px;
        letter-spacing: -4px;
        font-weight: 400;
        display: flex;
        align-self: flex-start;
        justify-self: flex-start;
        padding: 0;
        margin-bottom: 20px;
    }

    .case-description {
        font-size: 25px;
        font-family: 'special-gothic-condensed-one-regular', sans-serif;
        font-weight: lighter;
        color: var(--space-cadet);
        width: 600px;
        display: flex;
        align-self: flex-start;
        justify-self: flex-start;
        text-align: left;
        margin-top: -10px;
    }

    .view-case {
        font-family: 'Inter', sans-serif;
        font-size: 20px;
        font-weight: 500;
        color: var(--oxford-blue);
        border: 2px solid var(--oxford-blue);
        height: 50px;
        width: 200px;
        display: flex;
        align-self: flex-start;
        justify-self: flex-start;
        align-items: center;
        justify-content: center;
        border-radius: 45px;
        margin-top: 20px;
        transition: 0.3s;
    }

    .view-case:hover {
        background-color: var(--oxford-blue);
        color: var(--white);
    }

    .img-container {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        height: 850px;
        width: 45%;
        border-left: 2px solid var(--raisin-black);
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .project-img-display {
        transition: 0.3s ease-in-out;
        padding: 0px 0px 0px 50px;
        height: 100%;
        width: 100%;
    }

    .img-container:hover img {
        border-radius: 35px;

    }
}

@layer bottom {
    #personal-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 300px;
        width: 100%;
        background-color: var(--raisin-black);
        color: var(--white);
    }

    #personal-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 150px;
    }

    #personal-image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-bottom: 20px;
    }

    #personal-description{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 100px;
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        text-align: center;
        color: var(--white);
    }

    #contact-me-container{
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: flex-start;
        justify-self: center;
        height: 100px;
        width: 100%;
    }
}