@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Special+Gothic+Condensed+One&display=swap');

@layer colors {
    :root {
        --c-blue: #006eff;
        --c-blue-light: #c3e1ff;
        --raisin-black: #1b1725ff;
        --oxford-blue: #01233d;
        --lapis-lazuli: #035e7b;
        --atomic-tangerine: #fa8c4c;
        --french-gray: #c7cedbff;
        --space-cadet: #3b3355ff;
        --ultra-violet: #5d5d81ff;
        --columbia-blue: #bfcde0ff;
        --white: #efefef;
    }

    .dark-mode {
        --c-blue-light: #c3e1ff;
        --raisin-black: #efefef;
        --oxford-blue: #c7cedbff;
        --lapis-lazuli: #5d5d81ff;
        --atomic-tangerine: #fa8c4c;
        --french-gray: #c7cedbff;
        --black: #000505ff;
        --space-cadet: #5d5d81ff;
        --ultra-violet: #3b3355ff;
        --columbia-blue: #bfcde0ff;
        --white: #1b1725ff;
    }
}

@layer global {
    @layer Dimensions-Variables {
        :root {
            /* Nav Bar */
            --nav-bar_height: 120px;
            --nav-bar-logo_width-height: 60px;
            --nav-bar-logo_margin-left: 120px;
            /* Scroll to Bottom Button*/
            --scrollToBottom_width: 150px;
            --scrollToBottom_height: 60px;
            --scrollToBottom_margin-right: 120px;
            /* Scroll to Bottom Button Fill */
            --button_fill_contact_height: 100px;
            --button_fill_contact_width: 200px;
            /* Scroll To Bottom Text */
            --contact_text_height: 60px;
            --contact_text_width: 100%;
            /* Hook Div */
            --hook_height: 550px;
            --hook-margin-left-right: 80px;
            --hook_width: calc(100% - var(--hook-margin-left-right) * 2);
            --hook-margin: 240px 80px 0 80px;
            /* Hook Home Title */
            --home-title_height: 300px;
            --home-title_width: 70%;
            --home-title_letter_spacing: -3px;
            /* Hook Home Description */
            --home-description_height: 200px;
            --home-description_width: 40%;
            --home-description_padding-top: 40px;
            /* Project Container */
            --project-container_height: 2400px;
            --project-container_width: 1200px;
            --project-container_margin-top: 100px;
            /* Project */
            --project_margin: 40px 80px 40px 80px;
            --project-margin-left-right: 80px;
            --project_height: 840px;
            --project_width: calc(100vw - var(--project-margin-left-right) * 2);
            /* Container left c-left */
            --c-left_width: 50%;
            --c-left_height: 850px;
            --c_left_margin: 40px 0 40px 0;
            /* Case Number Text Class for Case Number for each project */
            --case-no_margin-bottom: 220px;
            /* Case Title */
            --case-title_margin-bottom: 20px;
            /* Case Description */
            --case-description_width: 600px;
            --case-description_margin-top: -10px;
            /* View Case */
            --view-case_height: 50px;
            --view-case_width: 200px;
            --view-case_margin-top: 20px;
            /* Image Container */
            --image-container_height: 850px;
            --image-container_width: 50%;
            --image-container_margin: 40px 0 40px 0;
            /* Image Link */
            --image-link_padding: 0 0 0 50px;
            /* Personal Details */
            --personal-details_margin: 40px 80px 0 80px;
            --personal-details_margin-left-right: 80px;
            --personal-details_width: calc(100vw - var(--personal-details_margin-left-right) * 2);
            --personal-details_height: 1020px;
            --personal-details_padding: 120px 0 120px 0;
            /* Case Number ID for ABOUT Info */
            --case-no-id_margin-top: -100px;
            /* Img left container for personal image */
            --img-left_width: 55%;
            --img-left_height: 100%;
            /* Personal Image */
            --personal-image_height: 100%;
            --personal-image_width: 80%;
            --personal-image_margin-left: 40px;
            /* Personal Description */
            --personal-description_width: 45%;
            --personal-description_height: 850px;
            --personal-description_margin-right: 220px;
            --personal-description_padding-left: 100px;
            /* Contact Me Container */
            --contact-me-container_margin-left-right: 80px;
            --contact-me-container_width: calc(100vw - var(--contact-me-container_margin-left-right) * 2);
            --contact-me-container_height: 500px;
            --contact-me-container_margin: 240px 80px 0 80px;
            --contact-me-container_padding-bottom: 550px;
            /* Social Media Icons */
            --socialM-icon_width: 70px;
            --socialM-icon_height: 70px;
            --socialM-icon_margin: 20px 10px 80px 10px;
            /* Final Hook */
            --final-hook_width: 100%;
            --final-hook_height: 100px;
            --final-hook_margin: 20px 0 40px 0;
            /* Get In Touch Gmail Anchor Tag */
            --getInTouch-gmail-anchor_width: 250px;
            --getInTouch-gmail-anchor_height: 75px;
            /* Button Fill Get In Touch */
            --buttonFill-GetInTouch_width: 250px;
            --buttonFill-GetInTouch_height: 75px;
            /* Get in Touch Text */
            --getInTouch-text_width: 100%;
            --getInTouch-text_height: 75px;
        }
    }

    /* Dimensions */

    *,
    ::before,
    ::after {
        box-sizing: border-box;
    }

    body {
        background-color: var(--white);
        /* background: linear-gradient(10deg, var(--white), var(--french-gray)) fixed; */
        margin: 0;
        padding: 0;
        min-height: 100vh;
        width: 100%;
        overflow-x: hidden;
        background-repeat: no-repeat;
        background-size: cover;
    }

    a {
        text-decoration: none;
    }

    img {
        max-width: 100%;
    }

    h1 {
        margin: 0;
        line-height: 1.1;
        font-family: "Special Gothic Condensed One", sans-serif;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Lexend", sans-serif;
        /* color: var(--raisin-black); */
    }

    p {
        line-height: 1.3;
        font-family: 'Inter', sans-serif;
        word-spacing: 2px;
        color: var(--oxford-blue);
    }

    header ul {
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;
        }
    }
}

@layer top {
    @layer nav-bar {
        #nav-bar {
            height: var(--nav-bar_height);
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: transparent;
            border-bottom: 2px solid var(--raisin-black);
        }

        #nav-bar_logo {
            width: var(--nav-bar-logo_width-height);
            height: var(--nav-bar-logo_width-height);
            display: flex;
            margin-left: var(--nav-bar-logo_margin-left);
            border-radius: 40%;
            background-color: #efefef;
        }

        #darkMode {
            overflow: hidden;
            height: 70px;
            width: 70px;
            background-color: transparent;
            border: 0;
            transition: 0.2s ease-out;
            filter: grayscale(1) contrast(1.5);
            cursor: pointer;
        }

        #darkMode_image {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        #darkMode:hover {
            filter: grayscale(0) contrast(1.5);
            transform: scale(1.1);
        }

        #translate {
            height: var(--contact_text_height);
            width: 100px;
            font-size: 20px;
            font-weight: 500;
            font-family: 'Inter', sans-serif;
            transition: 0.3s ease-in-out;
            background-color: var(--white);
            border-radius: 45px;
            border: 1px solid var(--raisin-black);
            color: var(--raisin-black);
            cursor: pointer;
        }

        #translate:hover {
            background-color: var(--oxford-blue);
            color: var(--white);
        }

        #scrollToBottom {
            display: flex;
            justify-items: flex-end;
            align-self: center;
            width: var(--scrollToBottom_width);
            height: var(--scrollToBottom_height);
            background: linear-gradient(180deg, var(--lapis-lazuli), var(--oxford-blue));
            overflow: hidden;
            border: 1px solid var(--raisin-black);
            margin-right: var(--scrollToBottom_margin-right);
            border-radius: 45px;
        }

        #button_fill_contact {
            display: flex;
            justify-self: center;
            align-self: flex-start;
            text-align: center;
            width: var(--button_fill_contact_width);
            height: var(--button_fill_contact_height);
            padding: 0;
            background-color: var(--white);
            transition: 0.35s ease-in-out;
        }

        #contact_text {
            font-family: 'Inter', sans-serif;
            font-size: 20px;
            color: var(--raisin-black);
            display: flex;
            justify-content: center;
            align-items: center;
            width: var(--contact_text_width);
            height: var(--contact_text_height);
            font-weight: 500;
            transition: 0.4s ease-in-out;
            cursor: pointer;
        }

        #scrollToBottom:hover #button_fill_contact {
            height: 0;
        }

        #scrollToBottom:hover #contact_text {
            color: var(--white);
        }
    }

    @layer hook {
        #hook {
            height: var(--hook_height);
            width: var(--hook_width);
            margin: var(--hook-margin);
            flex-direction: column;
            word-break: keep-all;
        }

        #home-title {
            font-size: 135px;
            display: flex;
            justify-self: flex-start;
            align-self: center;
            height: var(--home-title_height);
            width: var(--home-title_width);
            color: var(--raisin-black);
            font-family: "Special Gothic Condensed One", sans-serif;
            text-align: left;
            word-wrap: normal;
            font-weight: 120;
            letter-spacing: var(--home-title_letter_spacing);
        }

        #home-description {
            display: flex;
            font-family: 'Lexend', sans-serif;
            font-weight: 280;
            letter-spacing: 2px;
            font-size: 25px;
            height: var(--home-description_height);
            width: var(--home-description_width);
            color: var(--oxford-blue);
            word-break: keep-all;
            padding-top: var(--home-description_padding-top);
        }
    }

    @layer projects {
        #project-container {
            display: flex;
            justify-self: center;
            align-self: center;
            flex-direction: column;
            height: var(--project-container_height);
            width: var(--project-container_width);
            margin-top: var(--project-container_margin-top);
        }

        .project {
            border-top: 2px solid var(--raisin-black);
            display: flex;
            flex-wrap: wrap row;
            height: var(--project_height);
            width: var(--project_width);
            margin: var(--project_margin);
        }

        .c-left {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: flex-start;
            width: var(--c-left_width);
            height: var(--c-left_height);
            margin: var(--c_left_margin);

        }

        .case-no {
            font-family: 'Inter', sans-serif;
            font-size: 20px;
            font-weight: 600;
            display: flex;
            justify-self: flex-start;
            align-self: flex-start;
            list-style-type: disc;
            margin: 0 0 220px 0;
            color: var(--space-cadet);
        }

        .case-title {
            font-size: 55px;
            letter-spacing: -4px;
            font-weight: 400;
            width: 100%;
            display: flex;
            align-self: flex-start;
            justify-self: flex-start;
            margin-bottom: var(--case-title_margin-bottom);
            background: linear-gradient(var(--lapis-lazuli), var(--oxford-blue));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }

        .case-description {
            font-size: 25px;
            font-weight: 400;
            width: var(--case-description_width);
            display: flex;
            align-self: flex-start;
            justify-self: flex-start;
            text-align: left;
            margin-top: var(--case-description_margin-top);
        }

        .view-case {
            font-family: 'Inter', sans-serif;
            font-size: 20px;
            font-weight: 450;
            color: var(--oxford-blue);
            border: 2px solid var(--oxford-blue);
            height: var(--view-case_height);
            width: var(--view-case_width);
            display: flex;
            align-self: flex-start;
            justify-self: flex-start;
            align-items: center;
            justify-content: center;
            border-radius: 45px;
            margin-top: var(--view-case_margin-top);
            transition: 0.3s;
        }

        .view-case:hover {
            background-color: var(--oxford-blue);
            color: var(--white);
        }

        .img-container {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            height: var(--image-container_height);
            width: var(--image-container_width);
            border-left: 2px solid var(--raisin-black);
            margin: var(--image-container_margin);
        }

        .img-link {
            transition: 0.3s ease-in-out;
            padding: var(--image-link_padding);
            height: 100%;
            width: 100%;
        }

        .show-hide {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            overflow: hidden;
            justify-content: center;
            align-items: center;
            transition: 0.3s ease-in-out;
            object-fit: cover;
            border-radius: 5%;
        }

        .project-img-display {
            width: 100%;
            height: 100%;
            transition: 0.3s ease-in-out;
            object-fit: cover;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            z-index: -1;
            display: block;
        }

        .project-img-hidden {
            position: absolute;
            top: 100;
            left: 100%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: left 0.4s ease-in-out;
            z-index: 2;
        }

        .img-link:hover .project-img-hidden {
            left: 0;
        }
    }

}

@layer bottom {
    @layer personal_description {
        #personal-details {
            display: flex;
            flex-wrap: wrap row;
            justify-self: center;
            align-self: flex-start;
            align-items: center;
            justify-content: center;
            width: var(--personal-details_width);
            height: var(--personal-details_height);
            margin: var(--personal-details_margin);
            background-color: transparent;
            border-top: 2px solid var(--raisin-black);
            padding: var(--personal-details_padding);
            border-bottom: 2px solid var(--raisin-black);
        }

        #case-no {
            display: flex;
            justify-self: flex-start;
            align-self: flex-start;
            list-style-type: disc;
            margin-top: var(--case-no-id_margin-top);
            color: var(--space-cadet);
        }

        .img-left {
            display: flex;
            flex-direction: row;
            width: var(--img-left_width);
            height: var(--img-left_height);
        }


        #personal-image {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            height: var(--personal-image_height);
            width: var(--personal-image_width);
            object-fit: cover;
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
            margin-left: var(--personal-image_margin-left);
            border-radius: 10%;
        }

        #personal-description {
            display: flex;
            align-items: center;
            justify-content: flex-center;
            flex-wrap: row wrap;
            width: var(--personal-description_width);
            height: var(--personal-description_height);
            margin-right: var(--personal-description_margin-right);
            padding-left: var(--personal-description_padding-left);
            font-size: 25px;
            font-weight: 500;
        }
    }

    @layer contact_social_media {
        #contact-me-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            justify-self: center;
            align-self: flex-start;
            width: var(--contact-me-container_width);
            height: var(--contact-me-container_height);
            margin: var(--contact-me-container_margin);
            padding-bottom: var(--contact-me-container_padding-bottom);
            flex-wrap: wrap;
        }

        .social-media-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: var(--socialM-icon_width);
            height: var(--socialM-icon_height);
            margin: var(--socialM-icon_margin);
            background-color: transparent;
            border-radius: 50%;
            border: 1px solid var(--oxford-blue);
            color: var(--raisin-black);
            transition: 0.25s;
        }

        .fa-brands.fa-instagram,
        .fa-brands.fa-linkedin-in,
        .fa-brands.fa-facebook-f {
            display: flex;
            padding: 0;
            font-size: 35px;
            color: var(--oxford-blue);
            transition: 0.25s;
        }

        .social-media-icon:hover .fa-brands {
            color: var(--white);
        }

        .social-media-icon:hover {
            background-color: var(--oxford-blue);
        }

        #final-hook {
            display: flex;
            justify-content: center;
            align-items: center;
            letter-spacing: -4px;
            font-size: 80px;
            width: var(--final-hook_width);
            height: var(--final-hook_height);
            margin: var(--final-hook_margin);
            color: var(--raisin-black);
            font-weight: 350;
            background: linear-gradient(0deg, var(--atomic-tangerine), var(--oxford-blue));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }

        #getintouch_gmail_anchor {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            justify-self: center;
            align-self: center;
            width: var(--getInTouch-gmail-anchor_width);
            height: var(--getInTouch-gmail-anchor_height);
            background: linear-gradient(180deg, var(--atomic-tangerine), var(--oxford-blue));
            border: 1px solid var(--raisin-black);
            color: var(--raisin-black);
            overflow: hidden;
            border-radius: 45px;
            text-align: center;
            transition: 0.4s ease-out;
        }

        #button_fill_getintouch {
            display: flex;
            justify-self: center;
            align-self: flex-start;
            text-align: center;
            width: var(--buttonFill-GetInTouch_width);
            height: var(--buttonFill-GetInTouch_height);
            background-color: var(--white);
            transition: 0.35s ease-in-out;
        }

        #get_in_touch_text {
            font-family: 'Inter', sans-serif;
            font-size: 25px;
            color: var(--raisin-black);
            display: flex;
            justify-content: center;
            align-items: center;
            width: var(--getInTouch-text_width);
            height: var(--getInTouch-text_height);
            font-weight: 500;
            transition: 0.4s ease-in-out;
        }

        #getintouch_gmail_anchor:hover #button_fill_getintouch {
            height: 0;
        }

        #getintouch_gmail_anchor:hover #get_in_touch_text {
            color: var(--white);
        }

        #getintouch_gmail_anchor:hover {
            /* box-shadow: 10px 10px 10px rgba(250, 140, 76, 1); */
            transform: scale(1.05);
        }
    }
}

@layer mediaQueries {
    @media screen and (max-width: 480px) {
        @layer nav-bar {
            #nav-bar {
                height: calc(var(--nav-bar_height) / 2);
            }

            #nav-bar_logo {
                margin-left: 20px;
            }

            #translate {
                height: 30px;
                width: 50px;
            }

            #scrollToBottom {
                display: flex;
                justify-items: flex-end;
                align-self: center;
                width: 110px;
                height: 30px;
                overflow: hidden;
                margin-right: 30px;

            }

            #button_fill_contact {
                display: flex;
                justify-self: center;
                align-self: flex-start;
                text-align: center;
                width: 110px;
                height: 100%;
                background-color: var(--white);
                transition: 0.35s ease-in-out;

            }

            #contact_text {
                font-family: 'Inter', sans-serif;
                font-size: 15px;
                display: flex;
                justify-content: center;
                padding-top: 5px;
                align-items: flex-start;
                width: 100%;
                height: 100%;
            }

            #scrollToBottom:hover #button_fill_contact {
                height: 0;
            }

            #scrollToBottom:hover #contact_text {
                color: var(--white);
            }
        }

        @layer hook {
            #hook {
                margin: 80px 0 0 0;
                padding: 0 25px 0 25px;
                width: 100%;
                max-width: 767px;
                align-items: center;
                justify-self: center;
            }

            #home-title {
                font-size: 50px;
                width: 100%;
                align-items: center;
                justify-content: center;
                text-align: center;
                letter-spacing: 2px;
                height: auto;
                margin-bottom: 20px;
            }

            #home-description {
                height: auto;
                width: 100%;
                padding-top: 0;
                text-align: center;
                font-size: 20px;
                margin-top: 0;
                padding: 0 30px 0 30px;
            }
        }

        @layer projects {
            #project-container {
                margin-top: -20px;
            }

            .project {
                flex-direction: column;
                height: calc(var(--project-container_height) + 100px);
                margin-bottom: 0;
                display: flex;
                justify-content: center;
                width: calc(100vw - 60px);
                margin-right: 30px;
                margin-left: 30px;
            }

            .c-left {
                height: auto;
                width: 100%;
                align-items: center;
                justify-content: center;
            }

            .case-no {
                flex-direction: row;
                margin: 0;
                width: 100%;
                padding-left: 0;
                height: 30px;
                list-style-type: none;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }

            ul {
                width: 100%;
                display: flex;
                justify-content: center;
                padding: 0;
            }

            .case-title {
                margin-top: 30px;
                flex-direction: column;
                width: 100%;
                font-size: 40px;
                margin-bottom: var(--case-title_margin-bottom);
                padding: 0;
                text-align: center;
                align-items: center;
                letter-spacing: -2px;
            }

            .case-description {
                font-size: 20px;
                text-align: center;
                padding-right: 10px;
                height: auto;
                width: 100%;
                word-break: normal;
            }

            .view-case {
                height: var(--view-case_height);
                width: 100%;
                justify-content: center;
                display: flex;
            }

            .show-hide {
                height: auto;
                border-radius: 20px;
            }

            .img-container {
                margin-top: 0;
                height: auto;
                width: 100%;
                border-left: 0;
            }

            .project-img-display {
                width: auto;
                height: 100%;
                object-fit: scale-down;
            }

            .img-link {
                padding: 0;
                height: auto;
                width: 100%;
            }

            /* To be deleted if wished */
            .project-img-hidden {
                display: none;
            }
        }

        @layer bottom {
            #personal-details {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: calc(100vw - 60px);
                height: auto;
                margin: 20px 30px 20px 30px;
                padding-top: 0;
                padding-bottom: 0;
            }

            #case-no {
                display: flex;
                justify-content: center;
                text-align: center;
                align-self: flex-start;
                width: 100%;
                height: auto;
                margin: 0;
                padding: 0;
                list-style-type: none;
                margin-top: 0;
            }

            #personal-image-container {
                height: 100%;
                width: 100%;
                margin-top: 30px;
                margin-bottom: 50px;
            }

            .img-left {
                flex-direction: column;
                margin-top: 20px;
                align-items: center;
                justify-content: center;
                width: auto;
                height: auto;
            }

            #personal-image {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;
                object-fit: scale-down;
                margin: 0;
            }

            #personal-description {
                justify-content: center;
                align-items: flex-start;
                text-align: center;
                width: 100%;
                height: 400px;
                font-size: 18px;
                margin: 0;
                padding: 0;
            }

            #contact-me-container {
                margin-top: 100px;
                padding-bottom: 0px;
            }

            .social-media-icon {
                margin-bottom: 20px;
                height: calc(var(--socialM-icon_height) - 10px);
                width: calc(var(--socialM-icon_width) - 10px);
            }

            #final-hook {
                font-size: 45px;
                text-align: center;
                height: calc(var(--final-hook_height) + 200px);
                width: calc(100vw - 60px);
                margin-bottom: 50px;
                letter-spacing: -2px;
            }

            #getintouch_gmail_anchor {
                padding-bottom: 70px;
                margin-bottom: 10px;
            }
        }
    }

    /* Landscape phone to portrait tablet */
    @media screen and (min-width: 481px) and (max-width: 767px) {
        @layer hook {
            #hook {
                margin: 80px 0 0 0;
                padding: 0 45px 0 45px;
                width: 100%;
                max-width: 767px;
                align-items: center;
                justify-self: center;
            }

            #home-title {
                font-size: 55px;
                width: 100%;
                align-items: center;
                justify-content: center;
                text-align: center;
                letter-spacing: 2px;
                height: auto;
                margin-bottom: 50px;
            }

            #home-description {
                height: auto;
                width: 100%;
                padding-top: 0;
                text-align: center;
                font-size: 23px;
                margin-top: 0;
                padding: 0 50px 0 50px;
            }
        }

        @layer projects {
            .project {
                flex-direction: column;
                height: calc(var(--project-container_height) + 100px);
            }

            .c-left {
                height: auto;
                width: 100%;
                align-items: center;
                justify-content: center;
            }

            .case-no {
                flex-direction: column;
                margin: 0 0 40px 0;
                width: 200px;
                height: 30px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .case-title {
                flex-direction: column;
                width: 100%;
                font-size: 46px;
                margin-bottom: var(--case-title_margin-bottom);
                padding: 0;
                text-align: center;
                align-items: center;
                letter-spacing: -2px;
            }

            .case-description {
                font-size: 20px;
                text-align: center;
                padding-right: 10px;
                height: auto;
                width: 100%;
                word-break: normal;
            }

            .view-case {
                height: var(--view-case_height);
                width: 100%;
                justify-content: center;
                display: flex;
            }

            .show-hide {
                height: auto;
                border-radius: 20px;
            }

            .img-container {
                margin-top: 0;
                height: auto;
                width: 100%;
                border-left: 0;
            }

            .project-img-display {
                width: auto;
                height: 100%;
                object-fit: scale-down;
            }

            .img-link {
                padding: 0;
                height: auto;
                width: 100%;
            }

            /* To be deleted if wished */
            .project-img-hidden {
                display: none;
            }
        }

        @layer bottom {
            #personal-details {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: var(--personal-details_width);
                height: auto;
                margin: var(--personal-details_margin);
                background-color: transparent;
                border-top: 2px solid var(--raisin-black);
                padding: 0;
                border-bottom: 2px solid var(--raisin-black);
            }

            #case-no {
                display: flex;
                justify-content: center;
                text-align: center;
                align-self: flex-start;
                width: 100%;
                height: auto;
                margin: 0;
                padding: 0;
                list-style-type: none;
                margin-top: 0;
            }

            #personal-image-container {
                height: 100%;
                width: 100%;
                margin-top: 30px;
                margin-bottom: 50px;
            }

            .img-left {
                flex-direction: column;
                margin-top: 50px;
                align-items: center;
                justify-content: center;
                width: auto;
                height: auto;
            }

            #personal-image {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;
                object-fit: scale-down;
                margin: 0;
            }

            #personal-description {
                justify-content: center;
                align-items: flex-start;
                text-align: center;
                width: 100%;
                height: 400px;
                font-size: 20px;
                margin: 0;
                padding: 0;
            }

            #contact-me-container {
                margin-top: 100px;
                padding-bottom: 650px;
            }

            #final-hook {
                font-size: 60px;
                text-align: center;
                height: calc(var(--final-hook_height) + 100px);
                margin-bottom: 100px;
                letter-spacing: -2px;
            }

            #getintouch_gmail_anchor {
                padding-bottom: 70px;
            }
        }
    }

    @media screen and (min-width: 768px) and (max-width: 979px) {
        @layer hook {
            #hook {
                margin: 140px 80px 0 80px;

            }

            #home-title {
                font-size: 100px;
                width: 100%;
                height: calc(var(--home-title_height) + 30px);
                align-items: center;
                text-align: center;
                height: auto;
                letter-spacing: 2px;
            }

            #home-description {
                width: 100%;
                padding-top: 0;
                text-align: center;
            }
        }

        @layer projects {
            .c-left {
                height: 100%;
                width: 40%;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }

            .case-no {
                flex-direction: column;
                margin: 0 0 40px 0;
                width: 200px;
                height: 30px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .case-title {
                flex-direction: column;
                width: 100%;
                font-size: 46px;
                margin-bottom: var(--case-title_margin-bottom);
                padding-right: 10px;
                padding-bottom: 10px;
                text-align: center;
                align-items: center;
            }

            .case-description {
                font-size: 20px;
                text-align: center;
                padding-right: 10px;
                height: auto;
                width: 100%;
                word-break: normal;
            }

            .view-case {
                flex-direction: column;
                height: var(--view-case_height);
                width: calc(var(--view-case_width) + 20px);
                justify-content: center;
            }

            .show-hide {
                object-fit: fill;
                border-radius: 0;
            }

            .img-container {
                width: 60%;
            }

            .project-img-display {
                width: auto;
                height: 100%;
                object-fit: cover;
            }

            .img-link {
                padding: 0 0 0 10px;
                height: 100%;
                width: 100%;
            }

            .project-img-hidden {
                display: none;
            }
        }

        @layer bottom {
            #personal-details {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: var(--personal-details_width);
                height: calc(var(--personal-details_height) + 100px);
                margin: var(--personal-details_margin);
                background-color: transparent;
                border-top: 2px solid var(--raisin-black);
                padding: 0;
                border-bottom: 2px solid var(--raisin-black);
            }

            #case-no {
                display: flex;
                justify-content: center;
                align-self: flex-start;
                list-style-type: disc;
                margin-top: calc(var(--case-no-id_margin-top) + 50px);
            }

            .img-left {
                margin-top: 100px;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
            }

            #personal-image {
                justify-self: center;
                height: 70%;
                width: 80%;
                object-fit: fill;
                margin: 50px 0 0 0;
            }

            #personal-description {
                justify-content: center;
                align-items: flex-start;
                text-align: center;
                width: 100%;
                height: 300px;
                font-size: 20px;
                margin-top: 0;
                margin-right: 0;
                margin-left: 0;
                padding: 0;
            }

            #contact-me-container {
                padding-bottom: 650px;
            }

            #final-hook {
                font-size: 70px;
                text-align: center;
                height: calc(var(--final-hook_height) + 100px);
                margin-bottom: 100px;
            }

            #getintouch_gmail_anchor {
                padding-bottom: 70px;
            }
        }

    }

    /* Large desktop */
    @media screen and (min-width: 980px) and (max-width: 1270px) {
        @layer hook {
            #home-title {
                font-size: 120px;
                width: 100%;
                height: calc(var(--home-title_height) + 30px);
                letter-spacing: -2px;
            }

            #home-description {
                width: calc(var(--home-description_width) + 200px);
                padding-top: calc(var(--home-description_padding-top) - 40px);
            }
        }

        @layer projects {
            .case-no {
                margin: 0 0 180px 0;
            }

            .case-title {
                font-size: 50px;
                margin-bottom: var(--case-title_margin-bottom);
            }

            .case-description {
                width: var(--case-description_width) - 55px;
                word-break: normal;
            }

            .show-hide {
                object-fit: fill;
                border-radius: 0;
            }

            .project-img-display {
                width: auto;
                height: 100%;
                object-fit: cover;
            }

            .show-hide:hover {
                border-radius: 10%;
            }

            .project-img-hidden {
                display: none;
            }

        }

        @layer bottom {
            #case-no {
                display: flex;
                justify-self: flex-start;
                align-self: flex-start;
                list-style-type: disc;
                margin-top: calc(var(--case-no-id_margin-top) - 10px);
            }

            .img-left {
                width: calc(var(--img-left_width) + 50px);
            }

            #personal-image {
                height: calc(var(--personal-image_height) / 1.5);
                width: 100%;
                object-fit: cover;
                margin: 120px 0 0 0;
            }

            #personal-description {
                width: calc(var(--personal-description_width) / 0.8);
                height: calc(var(--personal-description_height) * 2 + 40px);
                margin-right: 0;
                margin-left: 40px;
            }

            #final-hook {
                font-size: 80px;
                height: calc(var(--final-hook_height) + 100px);
            }

        }
    }
}